

/*-- scss:defaults --*/
$primary: #b0c4b1;
$secondary: #4a5759;

/* principales */
$body-bg: #dedbd2;              // Fondo
$body-color: #4a5759;           // Texto
$link-color: #b0c4b1;           // Enlaces
$border-color: #C7C3B7;         // Líneas
$code-block-bg: #C7C3B7;        // Fondo de código


/* barra de navegación */
$navbar-bg: #4a5759;             // fondo
$navbar-fg: #dedbd2;             // texto